<%- layout('layouts/boilerplate') %>
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="topBar">
        <div class="logo">
            <img src="/images/WhiteLogo.png" alt="Logo of bhai Chat">
            <div class="logoPara">
                <p>Bhai GPT</p>
            </div>
        </div>

        <div class="options">
            <div class="textBtn">Text</div>
            <div class="imageBtn">Image</div>
            <div class="videoBtn">video</div>
            <div class="voiceBtn">Voice</div>
        </div>
    </div>
    <div class="sideBar"></div>
    <div class="mainScreen"></div>
</body>
